#header{
background-color: black;
margin-top: 50px;
margin-bottom: 50px;
font-family: "Lato";
text-transform: uppercase; /*maiusculo*/
margin-top: 50px;
margin-bottom: 50px;
}
#nameAndTitle {
background-color: white;
width: 400px ;
margin: 0 auto;
text-align: center;
}
#nameAndTitle h1,h2{
    margin: 0px;
}
#contact{
    list-style-type: none;
    
}

#contact i {
    width: 30px;
    color: black;
}

#container{
    display: grid;
    grid-template-columns: 30% auto; /*divisão da tela em itens para um lado e item para o outro*/
}
#sidebar, #content{
    display: flex;
    flex-direction: column;
    row-gap: 20px; /*espço entre os itens da coluna*/
}